.draw {
  background: none;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  /* box-shadow: inset 0 0 0 2px #f45e61; */
  color: #f45e61;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}
.draw::before, .draw::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
.draw::before, .draw::after {
  border: 3px solid transparent;
  width: 0;
  height: 0;
}

.algo.draw::before, .algo.draw::after {
  border: 6px solid transparent;
  width: 0;
  height: 0;
}

.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: white;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: white;
  border-right-color: white;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  -o-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: white;
  border-left-color: white;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  -o-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

@media screen and (min-width: 1024px) {
  
  .algo.draw:hover {
    color: orange;
  }
  .algo.draw:hover::before {
    border-top-color: orange;
    border-right-color: orange;
    -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    -o-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }
  .algo.draw:hover::after {
    border-bottom-color: orange;
    border-left-color: orange;
    -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    -o-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  }
}

.buttons {
  isolation: isolate;
}



.machine {
  background-image: url('./Talleres-MAF_-Torno-CNC-Okuma.jpg');
  background-position: 55% 50%;
  background-size: 500px;
  width: 320px;
  height: 400px;
  background-color: #fafafa;
  position: relative;
  overflow: hidden;
}

.rect {
  height: 400px;
  width: 320px;
  background-color: black;
  opacity: .7;
  position: absolute;
  bottom: -400px;
  -webkit-transition: bottom .3s ease-in-out;
  -o-transition: bottom .3s ease-in-out;
  transition: bottom .3s ease-in-out;
}

.machine h1 {
  font-size: 26px;
  margin-top: 30px;
  color: black;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding-left: 15px;
  position: relative;
  z-index: 1000;
}

.machine:hover .rect {
  bottom: 0;
}

.one.machine:hover p {
  bottom: 120px;
  color: white;
  padding: 0 15px;
  z-index: 1000;
}

.three.machine:hover p {
  bottom: 190px;
  color: white;
  padding: 0 15px;
  z-index: 1000;
}

.machine:hover p {
  bottom: 130px;
  color: white;
  padding: 0 15px;
  z-index: 1000;
}

.machine:hover h1 {
  color: white;
}

.machine p {
  font-size: 20px;
  position: absolute;
  bottom: -300px;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.machine-cont {
  width: 100vw;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.one, .two {
  display: inline-block;
}

.three {
  background-image: url('./prensa.jpeg');
  background-size: 350px;
}

.two {
  /* margin-left: auto; */
  /* margin-top: -160px; */
  background-image: url('./maquina.jpeg');
  background-size: 430px;
  /* background-position: 55% -10%; */
}

 .machine-cont {
  display: none;
} 

.who-we-are img, .textos img {
  display: none;
}

@media screen and (min-width: 1024px) {
  .textos {
    margin-top: 70px;
  }

  .machine-cont {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .skewed-bg-img {
    background: black;
  }

  .who-we-are img, .textos img {
    display: inline-block;
    height: 600px;
    width: 450px;
    -o-object-position: 75% 50%;
       object-position: 75% 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .who-we-are .algo {
    background-color: black;
    display: inline-block;
    width: 400px;
    height: 400px;
    /* position: absolute; */
    top: 60px;
    padding: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
  }
  
  .textos .algo {
    background-color: black;
    display: inline-block;
    padding: 20px;
    width: 400px;
    height: 300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  /* .who-we-are, .textos {
    position: relative;
  } */

  .textos .algo {
    height: 500px;
  }

  .algo p {
    margin-top: 20px;
    color: white;
  }

  .textos, .who-we-are {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .textos {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
  }

  .textos p, .textos h3 {
    text-align: left;
    margin-left: 0;
  }
  
}

a {
  position: relative;
  z-index: 1000;
}

footer {
  -webkit-box-sizing:  border-box;
          box-sizing:  border-box;
  color: white;
  padding: 20px;
  position: relative;
}

footer .title {
  width: 200px;
  display: block;
  margin-bottom: 20px;
}

.footer-links {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  text-decoration: underline;
}

.marca {
  position: absolute;
  bottom: 0;
  right: 50%;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer-links a {
    margin: 0 10px;
    margin-top: 50px;
  }
}

a {
  color: inherit;
}

.cycle-next, .cycle-prev, .cycle-pager {
  opacity: .5;
}

.algo.draw {
  margin: 0;
}

.social-media {
  width: 100%;
  height: 40px;
  /* background-color: #fff; */
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media img {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 1024px) {
  .social-media {
    margin-top: 50px;
    height: 70px;
  }
  .social-media img {
    height: 40px;
    width: 40px;
  }
}