* {
  outline: none;
  /* box-sizing: border-box; */
}

@font-face {
  font-family: 'Biko';
  src: url('./fonts/biko.otf');
}

@font-face {
  font-family: 'Champagne & Limousines';
  src: url('./fonts/c.ttf')
}

html, body {
  margin: 0;
  font-family: 'Biko'
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.skewed-bg-img {
  -webkit-clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
          clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
  height: 100vh;
  max-height: 636px;
  background-image: url('./image.jpg');
  background-size: cover; 
  background-position: 70% 0%; 
  background-repeat: no-repeat;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .70);
}

.app-header {
  height: 60px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  display: block;
  margin-right: 30px;
  cursor: pointer;
}

.logo {
  display: block;
  width: 80vw;
  margin: 30px auto;
  display: block;
}

.header-p {
  font-family: 'Champagne & Limousines';
  color: white;
  text-align: center;
  margin: 0;
  width: 70vw;
  font-size: 20px;
  margin: 0 auto;
}

.contact-button {
  font-family: 'Champagne & Limousines';
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
  border: 0;
  border-radius: 100px;
  height: 40px;
  width: 267px;
  margin: 0 auto;
  margin-top: 25px;
  display: block;
}

.arrow-down {
  margin: 0 auto;
  margin-top: 45px;
  display: block;
}

.content {
  width: 85vw;
  display: block;
  margin: 0 auto;
}

.who-we-are {
  margin-top: 60px;
}

.who-we-are h3 {
  font-size: 28px;
  font-weight: normal;
  color: #F67F23;
}

.who-we-are p {
  font-size: 20px;
  font-family: 'Champagne & Limousines';
}

.mision {
  text-align: right;
  margin-top: 40px;
}

.mision h3 {
  font-size: 28px;
  font-weight: normal;
  color: #F67F23;
}

.mision p {
  font-size: 20px;
  font-family: 'Champagne & Limousines';
  width: 85%;
  margin-left: auto;
}

.vision {
  margin-top: 40px;
}

.vision h3 {
  font-size: 28px;
  font-weight: normal;
  color: #F67F23;
}

.vision p {
  font-size: 20px;
  font-family: 'Champagne & Limousines';
  width: 80%;
}

.certification {
  margin-top: 70px;
  font-size: 20px;
  font-family: 'Champagne & Limousines';
  width: 80vw;
  text-align: justify;
}

.certification img {
  margin-top: 20px;
  display: block;
  margin-left: auto;
}

.repair p,
.who-we-are p,
.mision p,
.vision p,
.certification p {
  color: #9B9B9B;
}

.repair {
  margin-top: 40px;
}

.repair h3 {
  font-size: 28px;
  font-weight: normal;
  color: #F67F23;
  border-bottom: 2px solid #F67F23;
  padding: 8px;
  margin-bottom: 8px;
}

.repair p {
  font-size: 20px;
  font-family: 'Champagne & Limousines';
  text-align: justify;
}

.shapes-1 {
  margin-top: 60px;
}

.shapes-1 .image {
  background-image: url('./Talleres-MAF_-Torno-CNC-Okuma.jpg');
  width: 210px;
  height: 270px;
  background-position: 85% 50%;
  background-size: 500px;
}

.shapes-1 .text {
  width: 204px;
  height: 320px;
  background-color: #F67F23;
  margin-left: auto;
  margin-top: -150px;
  padding: 20px;
}

.shapes-1 .text p {
  color: white;
  font-family: 'Biko';
  text-align: left;
  /* word-spacing:-5px; */
  font-size: 20px;
  margin-top: 20px;
  background-color: #F67F23;
}

.shapes-2 {
  margin-top: 200px;
}

.shapes-2 .image {
  background-image: url('./maquina.jpeg');
  width: 254px;
  height: 306px;
  background-position: 50% 50%;
  /* background-size: 500px; */
  margin-left: auto;
  margin-top: -100px;
  z-index: -10;
  position: relative;
}

.shapes-2 .text {
  width: 222px;
  height: 290px;
  background-color: black;
  margin-top: -150px;
  padding: 20px;
}

.shapes-2 h3 {
  font-size: 16px;
  color: #F67F23;
}

.shapes-2 .text p {
  color: white;
  font-family: 'Biko';
  text-align: left;
  word-spacing:-2px;
  font-size: 20px;
  margin-top: 20px;
  background-color: black;
}

.cont-services {
  font-size: 24px;
  font-family: 'Biko';
  color: #F67F23;
  margin: 50px auto;
  text-align: center;
  margin-bottom: 30px;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 46px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.service span {
  font-family: 'Biko';
  font-size: 18px;
  width: 190px;
  margin-left: 15px;
}

.services-info {
  font-size: 20px;
  color: #9B9B9B;
  text-align: center;
  font-family: 'biko';
  font-weight: 300;
}

.services-info .separator {
  width: 254px;
  height: 1px;
  display: block;
  border-bottom: 3px solid #F67F23;
  margin: 10px auto;
}

.find-us {
  color: #F67F23;
  font-size: 28px;
  text-align: center;
  margin: 15px auto;
}

.find-us-text {
  text-align: center;
  color: #9B9B9B;
  width: 100%;
  margin: 0 auto;
}

.cool-button {
  height: 35px;
  width: 272px;
  display: block;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cool-button button {
  width: 33.3%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #F67F23;
  font-size: 16px;
  background-color: white;
  outline: none;
}

.cool-button .left {
  border: 1px solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.cool-button .right {
  border: 1px solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cool-button .middle {
  border: 1px solid #F67F23;
  border-left: 0;
  border-right: 0;
}
#map {
  height: 500px;
}

.contact {
  color: #F67F23;
  font-size: 28px;
  text-align: center;
  margin: 15px auto;
}

.contact-text {
  text-align: left;
  color: #9B9B9B;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 20px;
}

form {
  width: 100%;
}

input, textarea {
  border: 1px solid #F67F23;
  height: 30px;
  width: 100%;
  border-radius: 10px;
  margin: 5px auto;
  outline: none;
  font-size: 18px;
  padding: 5px;
}

textarea {
  height: 100px;
}

.send {
  width: 50%;
  height: 40px;
  color: white;
  margin-left: auto;
  margin-right: 0;
  display: block;
  background-color: #F67F23;
}

::-webkit-input-placeholder { /* Chrome */
  color: #F67F23;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #F67F23;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #F67F23;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #F67F23;
  opacity: 1;
}

footer {
  margin-top: 30px;
  height: 400px;
  width: 100vw;
  background-color: black;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 60vw;
  }
  h3.cont-services {
    width: 100%;
    display: block;
  }
  .content.serv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-text {
    text-align: center;
  }
  form {
    width: 400px;
    display: block;
    margin: 0 auto;
  }
  input[type='submit'] {
    width: 200px;
  }
  input, textarea {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  .shapes-1 {
    width: 60%;
    margin-right: auto;
    margin-left: auto; 
  }

  .shapes-1 .image {
    height: 300px;
    width: 300px;
  }
  .shapes-2 {
    width: 60%;
    margin-right: auto;
    margin-left: auto; 
  }

  .shapes-2 .image {
    height: 300px;
    width: 300px;
  }
  .skewed-bg-img {
    -webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
  }

  .who-we-are p, .mision p, .vision p {
    max-width: 500px;
  }

  .certification {
    max-width: 300px;
    margin-left: auto;
  }
}

@media screen and (min-width: 769px) {
  .above {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header-p, .arrow-down, .contact-button {
    display: none;
  }
  .logo {
    width: 100vw;
  }

  .shapes-2, .shapes-1 {
    display: none;
  }
  .repair {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.above {
  display: none;
}

.above p {
  display: inline-block;
  max-width: 400px;
  margin-left: 100px;
  margin-top: 50px;
  font-size: 20px;
  color: #9B9B9B;
  text-align: justify;
  padding-right: 20px;
}

.links {
  display: inline-block;
  background-color: black;
  height: 300px;
  width: 500px;
   margin-left: auto; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links .link {
  width: 20%;
  height: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.link.uno {
  background-image: url('./maquina-fondo.png');
  background-size: cover;
}
.link.dos {
  background-image: url('./maquina-fondo.png');
  background-size: cover;
  background-position: 100% 50%;
}
.link.tres {
  background-image: url('./maquina-fondo.png');
  background-size: cover;
  background-position: 60% 10%;
}
.link.cuatro {
  background-image: url('./maquina-fondo.png');
  background-size: cover;
  background-position: 40% 90%;
}
.link.cinco {
  background-image: url('./maquina-fondo.png');
  background-size: cover;
  background-position: 0% 730%;
}

.link a {
  -webkit-transform: rotate(-90deg) translate(0%, 50%);
      -ms-transform: rotate(-90deg) translate(0%, 50%);
          transform: rotate(-90deg) translate(0%, 50%); 
  -webkit-transform-origin: 0% 100%; 
      -ms-transform-origin: 0% 100%; 
          transform-origin: 0% 100%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  font-size: 24px;
  width: 200px;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 430px) and (max-width: 767px) {
  .shapes-1 {
    width: 70%;
    margin-right: auto;
    margin-left: auto; 
  }

  .shapes-1 .image {
    height: 300px;
    width: 300px;
  }
  .shapes-2 {
    width: 60%;
    margin-right: auto;
    margin-left: auto; 
  }

  .shapes-2 .image {
    height: 300px;
    width: 300px;
  }
}

input, textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1054px) {
  .logo {
    width: 70vw;
  }

  .above p {
    margin-left: 200px;
  }

  .content {
    width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .machine-cont {
    width: 70% !important;
  }
}

.find-us {
  width: 100%;
}